POSTGRES_USER=cinema
POSTGRES_PASSWORD=cinema
POSTGRES_DB=cinema_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SECRET_KEY_ACCESS=somesecret
SECRET_KEY_REFRESH=your_refresh_secret_here
JWT_SIGNING_ALGORITHM=HS256
REDIS_HOST=localhost
REDIST_PORT=6379
